<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- type이 너무길어서 별칭을 준다. -->
	
	<typeAliases>
		<typeAlias type="com.my.four.model.dto.LoginDto" alias="loginDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalShelterListDto" alias="animalDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalEndangeredCSVDto" alias="animalCSVDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalEndangeredImgDto" alias="animalImgDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalEndangeredJoinDto" alias="animalJoinDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalDisturbDto" alias="animalDisturbDto"/>
		<typeAlias type="com.my.four.model.dto.AnimalHarmDto" alias="animalHarmDto"/>
		<typeAlias type="com.my.four.model.dto.FundingDto" alias="FundingDto"/>
		<typeAlias type="com.my.four.model.dto.FundingLoadDto" alias="FundingLoadDto"/>
		<typeAlias type="com.my.four.model.dto.ContestBoardDto" alias="ContestBoardDto"/>
		<typeAlias type="com.my.four.model.dto.ContestListDto" alias="ContestListDto"/>
		<typeAlias type="com.my.four.model.dto.CalendarDto" alias="CalendarDto"/>
		<typeAlias type="com.my.four.model.dto.VolmemberDto" alias="VolmemberDto"/>
		<typeAlias type="com.my.four.model.dto.AreaDto" alias="AreaDto"/>
		<typeAlias type="com.my.four.model.dto.StarRecordDto" alias="StarRecordDto"/>
		<typeAlias type="com.my.four.model.dto.SortGameDto" alias="SortGameDto"/>
		<typeAlias type="com.my.four.model.dto.SortRankDto" alias="SortRankDto"/>
		<typeAlias type="com.my.four.model.dto.TrashDto" alias="TrashDto"/>
	</typeAliases>
	<!-- resource : java Resources -->
	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
		<mapper resource="/sqls/funmapper.xml"/>
		<mapper resource="/sqls/funloadmapper.xml"/>
		<mapper resource="/sqls/animalMapper.xml"/>
    	<mapper resource="/sqls/contest_mapper.xml"/>
    	<mapper resource="/sqls/contestlist_mapper.xml"/>
    	<mapper resource="/sqls/calendarmapper.xml"/>
    	<mapper resource="/sqls/areadata_mapper.xml"/>
    	<mapper resource="/sqls/trashmapper.xml"/>
	</mappers>
	
	
</configuration>