<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- type이 너무길어서 별칭을 준다. -->
	
	
	<!-- resource : java Resources -->
	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
	</mappers>
	
</configuration>